		/* Reset styles */
        * {
            background-color: black;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        /* Global styles */
        body {
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            color: #6b6363;
        }
        
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        
        h1 {
            color: white !important;
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        
        p {
            margin-bottom: 20px;
        }
        
        a {
            color: #1d5591;
            text-decoration: none;
        }
        
        a:hover {
            text-decoration: underline;
        }
        